@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html {
  font-family: "Noto Sans TC", serif;
}

$breakpoints: (
  sm: 414px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

// 定義重置 CSS 的混合
@mixin resetCss() {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  header,
  menu,
  nav,
  aside,
  main,
  article,
  section,
  form,
  input,
  label,
  table,
  tr,
  td,
  th,
  img {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    box-sizing: border-box;
    text-decoration: none;
  }
}

// 定義生成響應式類別的混合
@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint);

    @media (max-width: #{$max-width}) {

      @content;
    }
  }

  @else {
    @warn "無效的斷點: #{$breakpoint}";
  }
}

:root {
  --darkGray: #111;
  --gray: #333;
  --lightGray: #ddd;
  --ivoryWhite: #fffff0
}